boto3==1.17.16
botocore==1.20.16
dj-database-url==0.5.0
Django==2.2.28
django-forms-bootstrap==3.1.0
django-storages==1.11.1
docutils==0.15.2
gunicorn==20.0.4
heroku==0.1.4
jmespath==0.10.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
Pillow>=8.1.1
psycopg2-binary==2.8.6
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
sqlparse>=0.4.2
stripe==2.56.0
sweetify==2.0.0
urllib3
wrapt==1.12.1
