asgiref==3.3.1
astroid==2.3.0
awscli==1.19.28
backcall==0.2.0
boto3==1.17.33
botocore==1.20.33
colorama==0.4.3
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1.7
django-forms-bootstrap==3.1.0
django-storages==1.11.1
docutils==0.15.2
Flask==1.1.2
git-remote-codecommit==1.15.1
gunicorn==20.0.4
ikp3db==1.4.1
importlib-metadata==3.7.3
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.11.1
Jinja2>=2.11.3
jmespath==0.10.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
prompt-toolkit==3.0.17
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pyasn1==0.4.8
Pygments==2.8.1
pylint==2.4.4
pylint-django==2.3.0
pylint-flask==0.6
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rsa==4.5
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
stevedore==3.3.0
stripe==2.56.0
traitlets==4.3.3
typed-ast==1.2.0
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==16.2.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.1
