body {
    font-family: Arial;
    padding-top: 6.250rem; /* Enables search box to be visible from the navbar */ 
}

footer {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 1.25rem;
}

.badge {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    -webkit-border-radius: 0.5625rem;
    -moz-border-radius: 0.5635rem;
    border-radius: 0.5625rem;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product { /*Product DIV*/
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 9.375rem; /* Width is set to 150px regardless of what image is added*/
    height: 9.375rem; /* Height is set to 150px regardless of what image is added*/
    margin: 0 auto; /* Centre DIV within the other DIVS */
}

caption p { /* Caption paragraph where product is described. Wrap text within div and avoid overflow */
    word-wrap: break-word;
}

.row row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.875rem;
}

.panel-default {
    border-color: transparent; /* Produces a cleaner border */
    padding: 0 0.625rem;
}

.panel-body {
    height: 100%;
    border: 0.0625rem solid #ddd; /* Outermost panel and offers delineation from one product to the next */
}

.product-description {
    min-height: 2.5rem; /* Overcomes different description lengths per product and impact on DIV height */
}

.display { /* Creates space between botton of the search box and top of the product */
    padding-bottom: 1rem;
}

